# interval commit and push (in second) ::must be in range 5-10 minutes
interval=300

# consul address including port
consul="192.168.114.35:8500"

# complete git repo url
repo="http://git:git@192.168.114.35:8080/inotif.git"

# default directory that is monitored
dir="/etc"
