# first, run this (only freebsd): ansible -m raw -a "pkg install -y python27" freebsd
# assumption  pkg was instald on freebsd
[freebsd]
192.168.122.155 ansible_shell_type=csh ansible_python_interpreter='/usr/local/bin/python2.7'

[debian7]
192.168.122.214

[debian8]
192.168.122.3

[ubuntu]
192.168.122.45